{% extends "components/layout.html.twig" %}

{% block content %}
    <main class="flex justify-center">
        <div class="flex flex-col justify-center m-auto min-w-125">
            <h1 class="text-4xl text-center my-5">Auteurs</h1>
            <table class="bg-blue-100 rounded-xs p-3 mb-10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        {% if session.role == "admin" %}
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <td class="text-center p-2">{{ author.id }}</td>
                            <td class="text-center p-2">
                                <a class="hover:underline" href="/auteur{{ author.id }}">
                                    {{ author.prenom }}
                                    {{ author.nom }}
                                </a>
                            </td>
                            {% if session.role == "admin" %}
                                <td class="text-center p-2">
                                    <button class="hover:cursor-pointer p-1.5 ml-auto mr-2 text-white bg-green-400 rounded-md block mx-auto">
                                        <a href="">Modifier</a>
                                    </button>
                                </td>
                                <td class="text-center p-2">
                                    <button class="hover:cursor-pointer p-1.5 ml-auto mr-2 text-white bg-red-400 rounded-md block mx-auto">
                                        <a href="">Supprimer</a>
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
